<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link href="{% static 'resume.css' %}" rel='stylesheet' type='text/css'>
    
    <div class="container">
      <div class="header">
        <section class="profile">
    <a target="_blank" href="https://imageshack.com/i/poeGMr7sj"><img src="https://imagizer.imageshack.com/v2/150x100q90/924/eGMr7s.jpg" border="0"></a>
        </section>
        
        
        <div class="full">
          <span class="first-name">Gunalan</span> 
          <span class="last-name">Arul</span>
        
     </div>
        
         <div class="contact-info">
           <span class="email">Email: </span>
           <span class="email-val">gunaarulgk23@gmail.com</span>
           <span class="separator"></span>
           <span class="phone">Phone: </span>
           <span class="phone-val">9688177761</span>
         </div>
        
    
       
        
        <div class="about">
          <span class="position">About:</span>
          <span class="desc">
            
            An enthusiastic learner and listener
    interested in exploring new things who always focused in self-enhancement through past outcomes will toil to my best for the concern as a doer!
            
          </span>
        </div>
      </div>
        
       <div class="details">
        <div class="section">
          <div class="section__title">Education</div>
          <div class="qualification">
            <div class="qualification-content">
              <div class="left">
                <div class="degree">B.Tech</div>
                <span class="separator">Karpagam college of Engineering</span>
                <div class="addr">Coimbatore,India</div>
                <div class="duration">2020-2024</div>
              </div>
              <div class="right">
                <div class="name">CGPA</div>
                <div class="desc">`9.26</div>
              </div>
            </div>
                    <div class="qualification-content">
              <div class="left">
                <div class="name">HSC</div>
                <div class="addr">Sri Vidhya Bharathi School</div>
                <div class="addr">Salem,India</div>
                <div class="duration">2019-2020</div>
              </div>
              <div class="right">
                <div class="name">Percentage</div>
                <div class="desc">80%</div>
              </div>
            </div>
    <div class="qualification-content">
              <div class="left">
                <div class="name">SSLC</div>
                <div class="addr">The little Flower Matric, School</div>
                <div class="addr">Salem,India</div>
                <div class="duration">2017-2018</div>
              </div>
              <div class="right">
                <div class="name">Percentage</div>
                <div class="desc">84%</div>
              </div>
            </div>
    
            
          </div>
        </div>
        <div class="section">
          <div class="section__title">CERTIFICATIONS</div>
          <div class="qualification">
            <div class="qualification-content">
              <div class="left">
                <div class="name">Deep learning</div>
                <div class="addr">   -NVIDIA</div>
                
              </div>
              <div class="right">
                <div class="name">Internship [POWERBI]</div>
                <div class="desc">WE & DATA</div>
              </div>
            </div>
            <div class="qualification-content">
              <div class="left">
                <div class="name">Basic web development</div>
                <div class="addr">DEVTOWN</div>
     
              </div>
              <div class="right">
                <div class="name">Java programming fundamentals</div>
                <div class="desc">INFOSYS</div>
              </div>
            </div>
    
          </div>
          
      </div>
         <div class="section">
          <div class="section__title">Projects</div> 
           <div class="qualification">
             <div class="qualification-content">
               <div class="name">ANOMALY DETECTION</div>
               <div class="text">It is my one of the work where any abnormal and normal activites are detected using deep learning and image processing techniques.</div>
             </div>
             
             <div class="qualification-content">
                        <div class="name">CONTACT MANAGEMENT</div>
               <div class="text">This project is about managing a large number of datas were a specified contact of an induvidual is maintained for a long time and can easily be accessed.
                 
               </div>
             </div>
           </div>
        </div>
         <div class="section">
           <div class="section__title">Skills</div>
           <div class="skills">
             <div class="skills__item">
               <div class="left"><div class="name">
                *  R programming
                 </div></div>
             
            <div class="right">
                <div class="name">* Data visualization</div>
                </div>
                              
         
      
           <div class="skills__item">
               <div class="left"><div class="name">
                 * Python</div></div>
             
             <div class="right">
                <div class="name">* Machine Learning</div>
                </div>
           
             
           <div class="skills__item">
               <div class="left"><div class="name">
               * SQL</div></div>
             
            <div class="right">
                <div class="name">* Operating systems</div>
                </div>
             
         
             
           <div class="skills__item">
               <div class="left"><div class="name">
                * Java</div></div>
                            
             <div class="right">
                <div class="name">* Database Management</div>
                </div>
             
    
               </div>
             </div>
             </div>
       
         <div class="section">
         <div class="section__title">
           LEARNING
           </div>
           <div class="section__list">
             <div class="section__list-item">
                      DEV OPS, Deep learning, Streaming Analytics.
              </div>
           </div>
         </div>
         </div>
      </div>
    </div>
</body>
</html>